header{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}
header h1{
    margin: 0;
}
#tk{
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}
#button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#button:hover{
    background-color: #aaf7ac;
}
button{
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;
    
}
#user{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    border-radius: 100px;
    color: #f9f9f9;
}   