#lock{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #8bc3f0;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#submitPassword{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#submitPassword:hover{
    background-color: #45a049;
}
#passwordInput{
    padding: 10px;
    width: 80%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#lock h2{
    margin-bottom: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #acd7fa;
}
#emailInput{
    padding: 10px;
    width: 80%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
